body{
    background-color: #101820FF;
    padding: 0 20px 0 20px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #F05D5E;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #51539e;
  border: 0;
  border-radius: 5px;
  
}